body{
    background-color: rgb(202, 202, 202);
    background: url(img/1639922061_5-abrakadabra-fun-p-fon-dlya-pogodi-6.png);
}

.container{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(65, 121, 143);
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 20px;
    color: white;
    width: 900px;
    margin-left: 300px;
}

.line{
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

h4{
    font-weight: 200;
    color: rgb(202, 202, 202);
}

.info {
    margin-bottom: 4px;
    margin-top: 3px;
    font-size: 15px;
}

span{
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

a{
    text-transform: none;
    font-style: none;
    color: white;
}

#search {
    padding-left: 10px;
    margin: 6px;
    width: 350px;
    border-radius: 3px;
    border: none;
    height: 40px;
    font-size: 18px;
    background-color: white;
    outline: none;
}
#search:hover {
    text-decoration: none;
    text-transform: none;
    border: none;
}

#btnSearch:hover{
    cursor: pointer;

}
#btnSearch {
    height: 38px;
    margin-left: -100px;
    font-size: 20px;
    border: none;
    background-color: white;
}